Repository freedomofpress/securedrop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redshiftzero, @heartsucker, @dachary, @conorsch, @msheiny

source: s/Remember your/Remember, your/
  securedrop/source_templates/lookup.html
Owners: @redshiftzero, @heartsucker, @dachary

align logout message with timeout msg
  securedrop/source_templates/logout_flashed_message.html
Owners: @redshiftzero, @heartsucker, @dachary

fix html style
  securedrop/journalist_templates/index.html
Owners: @redshiftzero, @heartsucker, @dachary

CSS based deletion confirmation, #295
  securedrop/journalist_templates/index.html
  securedrop/sass/journalist.sass
  securedrop/static/js/journalist.js
Owners: @redshiftzero, @heartsucker, @dachary

Initial TB support for functional tests
  install_files/ansible-base/roles/app-test/defaults/main.yml
  install_files/ansible-base/roles/app-test/tasks/disable_mprotect_ff_plugin_container.yml
  install_files/ansible-base/roles/app-test/tasks/install_tbb.yml
  install_files/ansible-base/roles/app-test/tasks/main.yml
  securedrop/requirements/test-requirements.in
  securedrop/requirements/test-requirements.txt
  securedrop/tests/functional/functional_test.py
  securedrop/tests/functional/journalist_navigation_steps.py
  testinfra/development/test_xvfb.py
Owners: @conorsch, @msheiny, @redshiftzero, @heartsucker, @dachary

Change "password" to "passphrase" throughout docs
  docs/admin.rst
  docs/backup_workstations.rst
  docs/create_admin_account.rst
  docs/install.rst
  docs/network_firewall.rst
  docs/onboarding.rst
  docs/passphrase_best_practices.rst
  docs/passphrases.rst
  docs/servers.rst
  docs/set_up_tails.rst
  docs/tails_guide.rst
  docs/test_the_installation.rst
  docs/training_schedule.rst
  docs/yubikey_setup.rst
Owners: none

.github/CODEOWNERS:

# application code
/securedrop/ @redshiftzero @heartsucker @dachary

# ansible / deployment
/build/         @conorsch @msheiny
/devops/        @conorsch @msheiny
/install_files/ @conorsch @msheiny
/molecule/      @conorsch @msheiny
/testinfra/     @conorsch @msheiny
/tails_files/   @conorsch @msheiny
