Repository freedomofpress/securedrop, pull requests merged in 2018-10, with the labels that each got.

#3857 Always force the use latest kernel by default
  install_files/ansible-base/group_vars/all/securedrop
  install_files/securedrop-grsec/DEBIAN/postinst
  molecule/builder/tests/vars.yml
Labels: needs QA

#3831 actually fix totp window
  securedrop/tests/test_2fa.py
Labels: tests

#3893 Fix unauthorized message deletion
  securedrop/source_app/main.py
  securedrop/tests/test_source.py
Labels: app, security

#3894 [0.10.0] Fix unauthorized message deletion
  securedrop/source_app/main.py
  securedrop/tests/test_source.py
Labels: app, security
