Repository freedomofpress/securedrop, pull requests merged in 2018-03, with the labels that each got.

#3082 Remove old Travis CI references and no longer used config file
  install_files/ansible-base/group_vars/travis.yml
  install_files/ansible-base/roles/app-test/tasks/main.yml
  install_files/ansible-base/roles/app/defaults/main.yml
  install_files/ansible-base/roles/development/tasks/main.yml
  install_files/ansible-base/securedrop-development.yml
  setup.cfg
  testinfra/app-code/test_securedrop_app_code.py
  testinfra/common/test_user_config.py
  testinfra/conftest.py
  testinfra/development/test_xvfb.py
  testinfra/vars/travis.yml
Labels: development env

#2995 Instruction to change tor browser security slider updated
  docs/images/manual/securedrop-security-slider-warning.png
  docs/images/manual/security-slider-high.png
  docs/images/manual/source-turn-slider-to-high.png
  docs/source.rst
  securedrop/source_templates/index.html
  securedrop/static/js/source.js
Labels: bug, docs

#3084 [0.6.0] journalist: kindly ask to check the mail
  securedrop/journalist_app/admin.py
  securedrop/tests/functional/journalist_navigation_steps.py
Labels: goals: journalist experience

#3091 Monitor only hostname in /var/lib/tor/services
  install_files/securedrop-ossec-agent/var/ossec/etc/ossec.conf
Labels: QA: Release, bug

#3094 [0.6.0] Monitor only hostname in /var/lib/tor/services
  install_files/securedrop-ossec-agent/var/ossec/etc/ossec.conf
Labels: OSSEC

#3093 docs: explain how to import and use bin/dev-shell helpers
  docs/development/setup_development.rst
Labels: docs, goals: improve developer workflow

#3087 i18n: improve tooling
  Makefile
  docs/development/i18n.rst
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/tasks/translations.yml
  install_files/ansible-base/securedrop-development.yml
  securedrop/Makefile
  securedrop/bin/update-user-guides
  securedrop/i18n_tool.py
  securedrop/manage.py
  securedrop/tests/test_i18n.py
  securedrop/tests/test_i18n_tool.py
  securedrop/tests/test_manage.py
  securedrop/tests/test_template_filters.py
Labels: goals: i18n, goals: improve developer workflow

#3092 securedrop-admin: symlink ancient .venv to admin/.venv
  securedrop-admin
Labels: bug, ops/deployment

#3098 [0.6.0] securedrop-admin: symlink ancient .venv to admin/.venv
  securedrop-admin
Labels: QA: Release

#3102 Docs: Update Admin guide to remove --force option
  docs/admin.rst
  docs/install.rst
Labels: docs

#3103 [0.6.0] Docs: Update Admin guide to remove --force option
  docs/admin.rst
  docs/install.rst
Labels: bug, docs

#3073 Making a PR to SecureDrop #2531
  docs/development/making_pr.rst
  docs/index.rst
Labels: docs

#3104 Bugfix: Update installer.patch against latest tails-installer 5.0.4
  docs/development/virtualizing_tails.rst
Labels: bug, development env

#3112 Fix help strings for securedrop-admin check_for_updates
  admin/securedrop_admin/__init__.py
Labels: QA: Release, bug

#3114 [0.6.0] instruction to change tor browser security slider updated
  docs/images/manual/securedrop-security-slider-warning.png
  docs/images/manual/security-slider-high.png
  docs/images/manual/source-turn-slider-to-high.png
  docs/source.rst
  securedrop/source_templates/index.html
  securedrop/static/js/source.js
Labels: bug, docs

#3106 Docs: Update path to Tails Installer in Admin Workstation VM guide
  docs/development/virtualizing_tails.rst
Labels: development env, docs

#3127 Handle TypeErrors on /account/reset-2fa-hotp, add regression tests
  securedrop/journalist_app/account.py
  securedrop/journalist_app/admin.py
  securedrop/journalist_app/utils.py
  securedrop/tests/test_journalist.py
Labels: app, bug

#3111 In securedrop-admin setup -v: -v, setup can be passed in any order
  securedrop-admin
Labels: QA: Release, bug

#3129 [0.6.0] In securedrop-admin setup -v: -v, setup can be passed in any order
  securedrop-admin
Labels: bug

#3128 [0.6.0] Handle TypeErrors on /account/reset-2fa-hotp, add regression tests
  securedrop/journalist_app/account.py
  securedrop/journalist_app/admin.py
  securedrop/journalist_app/utils.py
  securedrop/tests/test_journalist.py
Labels: app, bug

#3137 [docs] Clarify intructions for app code update on staging.
  docs/development/virtual_environments.rst
Labels: docs

#3138 i18n: document the release cycle
  docs/development/i18n.rst
Labels: docs, goals: i18n

#2948 Rewrite tests with pytest fixtures
  securedrop/tests/conftest.py
  securedrop/tests/pytest.ini
  securedrop/tests/test_source.py
  securedrop/tests/utils/db_helper.py
  securedrop/tests/utils/instrument.py
Labels: goals: app code cleanup, tests

#3113 Update Pull Request template to include securedrop-admin development
  .github/PULL_REQUEST_TEMPLATE.md
Labels: goals: improve developer workflow

#3125 journalist: better error message with the HOTP secret length is not 40
  securedrop/journalist_app/forms.py
  securedrop/tests/test_journalist.py
Labels: goals: journalist experience, journalist_interface

#3131 journalist: factorize existing user error message
  securedrop/journalist_app/admin.py
  securedrop/tests/test_journalist.py
Labels: goals: i18n, goals: journalist experience

#3123 Fixes #3122 adds Python type hints documentation
  docs/development/contributor_guidelines.rst
Labels: docs

#3141 l10n: sync de_DE es_ES fr_FR nb_NO nl pt_BR zh_Hant tr it_IT ar translations
  securedrop/tests/functional/journalist_navigation_steps.py
  securedrop/tests/pages-layout/test_journalist.py
  securedrop/translations/ar/LC_MESSAGES/messages.po
  securedrop/translations/de_DE/LC_MESSAGES/messages.po
  securedrop/translations/es_ES/LC_MESSAGES/messages.po
  securedrop/translations/fr_FR/LC_MESSAGES/messages.po
  securedrop/translations/it_IT/LC_MESSAGES/messages.po
  securedrop/translations/messages.pot
  securedrop/translations/nb_NO/LC_MESSAGES/messages.po
  securedrop/translations/nl/LC_MESSAGES/messages.po
  securedrop/translations/pt_BR/LC_MESSAGES/messages.po
  securedrop/translations/tr/LC_MESSAGES/messages.po
  securedrop/translations/zh_Hant/LC_MESSAGES/messages.po
Labels: app, goals: i18n

#3143 [0.6.0] l10n: sync de_DE es_ES fr_FR nb_NO nl pt_BR zh_Hant tr it_IT ar translations
  securedrop/tests/functional/journalist_navigation_steps.py
  securedrop/tests/pages-layout/test_journalist.py
  securedrop/translations/ar/LC_MESSAGES/messages.po
  securedrop/translations/de_DE/LC_MESSAGES/messages.po
  securedrop/translations/es_ES/LC_MESSAGES/messages.po
  securedrop/translations/fr_FR/LC_MESSAGES/messages.po
  securedrop/translations/it_IT/LC_MESSAGES/messages.po
  securedrop/translations/messages.pot
  securedrop/translations/nb_NO/LC_MESSAGES/messages.po
  securedrop/translations/nl/LC_MESSAGES/messages.po
  securedrop/translations/pt_BR/LC_MESSAGES/messages.po
  securedrop/translations/tr/LC_MESSAGES/messages.po
  securedrop/translations/zh_Hant/LC_MESSAGES/messages.po
Labels: app, goals: i18n

#3144 [0.6.0] Preserves 3.14.79 kernel during upgrade
  install_files/securedrop-grsec/DEBIAN/control
Labels: ops/deployment

#3156 docs: no automatic upgrade path for tails 3.6
  docs/upgrade/0.5.x_to_0.6.rst
Labels: bug, docs

#3157 Docs: Fix path to /etc/default/grub in 0.6 upgrade doc
  docs/upgrade/0.5.x_to_0.6.rst
Labels: docs

#3140 Journalist pytest fixtures
  securedrop/tests/conftest.py
  securedrop/tests/test_journalist.py
Labels: goals: app code cleanup, tests

#3163 docs: add missing unlock step
  docs/development/i18n.rst
Labels: bug, goals: i18n

#3162 Journalist unit tests: Add pytest fixtures for test data setup
  securedrop/tests/conftest.py
  securedrop/tests/test_journalist.py
Labels: Python, app, unit_tests

#3147 Updates test_the_installation.rst [fixes #3011]
  docs/test_the_installation.rst
Labels: bug, docs

#3161 source: the security slider is moved, not turned
  securedrop/source_templates/index.html
Labels: goals: improve source experience

#3165 docs: update-user-guides needs to force update sass to ensure the latest
  securedrop/bin/update-user-guides
Labels: bug, docs

#3164 source: various improvements to tor security instructions
  docs/source.rst
  securedrop/source_templates/index.html
  securedrop/tests/functional/test_source_warnings.py
Labels: docs, goals: improve source experience

#3166 [0.6] docs: update the documentation screenshots
  docs/images/manual/screenshots/journalist-admin_add_user_hotp.png
  docs/images/manual/screenshots/journalist-admin_add_user_totp.png
  docs/images/manual/screenshots/journalist-admin_changes_logo_image.png
  docs/images/manual/screenshots/journalist-admin_index_no_documents.png
  docs/images/manual/screenshots/journalist-admin_interface_index.png
  docs/images/manual/screenshots/journalist-admin_new_user_two_factor_hotp.png
  docs/images/manual/screenshots/journalist-admin_new_user_two_factor_totp.png
  docs/images/manual/screenshots/journalist-admin_ossec_alert_button.png
  docs/images/manual/screenshots/journalist-admin_system_config_page.png
  docs/images/manual/screenshots/journalist-clicks_on_source_and_selects_documents.png
  docs/images/manual/screenshots/journalist-col_flagged.png
  docs/images/manual/screenshots/journalist-col_has_no_key.png
  docs/images/manual/screenshots/journalist-composes_reply.png
  docs/images/manual/screenshots/journalist-index_javascript.png
  docs/images/manual/screenshots/journalist-index_with_text.png
  docs/images/manual/screenshots/source-checks_for_reply.png
  docs/images/manual/screenshots/source-deletes_reply.png
  docs/images/manual/screenshots/source-enter-codename-in-login.png
  docs/images/manual/screenshots/source-flagged.png
  docs/images/manual/screenshots/source-generate.png
  docs/images/manual/screenshots/source-index.png
  docs/images/manual/screenshots/source-logout_flashed_message.png
  docs/images/manual/screenshots/source-lookup.png
  docs/images/manual/screenshots/source-submission_entered_text.png
  securedrop/bin/update-user-guides
Labels: bug, docs

#3168 docs: add missing fetch in upgrade instructions
  docs/upgrade/0.5.x_to_0.6.rst
Labels: docs

#3167 docs: the screenshots must be updated after translations are merged
  docs/development/documentation_guidelines.rst
  docs/development/i18n.rst
Labels: docs

#3169 [0.6.1] docs: add missing fetch in upgrade instructions
  docs/upgrade/0.5.x_to_0.6.rst
Labels: docs

#3171 Update branch management docs
  docs/development/contributor_guidelines.rst
Labels: docs

#3170 Cherry pick all fixes to 0.6 upgrade docs
  docs/upgrade/0.5.x_to_0.6.rst
Labels: docs

#3119 Docs: Fix patch for installer in Tails 3.5
  docs/development/virtualizing_tails.rst
Labels: development env, docs

#3178 tests: allow override of PAGE_LAYOUT_LOCALES
  securedrop/bin/run-test
Labels: feature, tests

#3181 pytest for test_db.py
  securedrop/tests/conftest.py
  securedrop/tests/test_db.py
Labels: tests

#3179 More journalist app pytest changes
  securedrop/.gitignore
  securedrop/tests/conftest.py
  securedrop/tests/test_journalist.py
Labels: tests

#3187 tests: bump cryptography to 2.2.1
  securedrop/requirements/develop-requirements.txt
Labels: bug, development env

#3183 Pytest fixtures for management commands
  securedrop/requirements/test-requirements.in
  securedrop/requirements/test-requirements.txt
  securedrop/tests/test_manage.py
Labels: tests

#3064 Fixes #3063 uses io.open call everywhere
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
  install_files/ansible-base/inventory-dynamic
  install_files/ansible-base/roles/backup/files/0.3_collect.py
  install_files/ansible-base/roles/tails-config/files/securedrop_init.py
  molecule/ansible-config/tests/test_max_fail_percentage.py
  molecule/aws/tests/test_tor_interfaces.py
  molecule/builder/tests/conftest.py
  securedrop/crypto_util.py
  securedrop/secure_tempfile.py
  securedrop/source_app/main.py
  securedrop/source_app/utils.py
  securedrop/tests/conftest.py
  securedrop/tests/functional/test_submission_not_in_memory.py
  securedrop/tests/pages-layout/functional_test.py
  securedrop/tests/test_crypto_util.py
  securedrop/tests/test_i18n_tool.py
  securedrop/tests/test_journalist.py
  securedrop/tests/test_manage.py
  securedrop/tests/test_secure_tempfile.py
  securedrop/tests/test_store.py
  securedrop/tests/utils/env.py
  testinfra/app/test_network.py
  testinfra/conftest.py
  testinfra/mon/test_network.py
Labels: PR: Pending additional work, goals: app code cleanup

#3190 Moar pytest fixtures
  securedrop/tests/test_i18n.py
  securedrop/tests/test_secure_tempfile.py
Labels: goals: app code cleanup, tests

#3132 source: reword the tor2web warning for clarity
  securedrop/source_templates/tor2web-warning.html
Labels: goals: improve source experience

#3191 Pytest crypto utils
  securedrop/tests/conftest.py
  securedrop/tests/test_crypto_util.py
Labels: goals: app code cleanup, tests

#3189 Removes duplicate tor-apt repo from apt config
  install_files/securedrop-config/etc/apt/sources.list.d/tor_apt_freedom_press.list
  testinfra/common/test_tor_mirror.py
Labels: bug, ops/deployment

#3100 i18n: centralize the list of supported languages in ./i18n_tool.py
  docs/development/i18n.rst
  docs/includes/l10n.txt
  docs/install.rst
  securedrop/.rsync-filter
  securedrop/bin/update-user-guides
  securedrop/i18n_tool.py
  securedrop/tests/i18n/install_files/ansible-base/roles/tails-config/templates/de_DE.po
  securedrop/tests/i18n/install_files/ansible-base/roles/tails-config/templates/nl.po
  securedrop/tests/i18n/securedrop/translations/de_DE/LC_MESSAGES/messages.po
  securedrop/tests/i18n/securedrop/translations/nl/LC_MESSAGES/messages.po
  securedrop/tests/test_i18n.py
  securedrop/tests/test_i18n_tool.py
  securedrop/tests/test_template_filters.py
Labels: feature, goals: i18n

#3158 Remove vanilla Xenial Ubuntu kernels at install-time
  install_files/ansible-base/roles/grsecurity/tasks/clean_packages.yml
Labels: bug, ops/deployment

#3201 i18n: maintain an up-to-date timeline and priorities
  docs/development/i18n.rst
Labels: docs, goals: i18n

#3202 Add release manager guide
  docs/development/getting_started.rst
  docs/development/release_management.rst
  docs/index.rst
Labels: docs

#3209 Bump up version numbers on develop for 0.7.x release series
  changelog.md
  docs/conf.py
  docs/set_up_admin_tails.rst
  install_files/ansible-base/group_vars/all/securedrop
  install_files/securedrop-app-code/DEBIAN/control
  install_files/securedrop-app-code/usr/share/doc/securedrop-app-code/changelog.Debian
  install_files/securedrop-config/DEBIAN/control
  install_files/securedrop-keyring/DEBIAN/control
  install_files/securedrop-ossec-agent/DEBIAN/control
  install_files/securedrop-ossec-server/DEBIAN/control
  molecule/builder/tests/vars.yml
  securedrop/version.py
Labels: goals: improve developer workflow

#3196 Remove installed vanilla kernels via cron-apt
  install_files/ansible-base/group_vars/securedrop_application_server.yml
  install_files/ansible-base/group_vars/securedrop_monitor_server.yml
  install_files/ansible-base/roles/common/files/1-remove
  install_files/ansible-base/roles/common/tasks/cron_apt.yml
  install_files/securedrop-config/DEBIAN/control
  install_files/securedrop-config/etc/cron-apt/action.d/1-remove
  molecule/builder/tests/vars.yml
  testinfra/common/test_cron_apt.py
Labels: bug, ops/deployment
