Repository freedomofpress/securedrop, pull requests merged in 2018-02, with the labels that each got.

#2991 Small fixes in docs. Addresses issues #2910 and #2912
  docs/backup_and_restore.rst
  docs/overview.rst
Labels: bug, docs

#2974 Fix some responsive issues in journalist interface
  securedrop/journalist_templates/base.html
  securedrop/journalist_templates/col.html
  securedrop/journalist_templates/index.html
  securedrop/sass/modules/_button.sass
  securedrop/sass/modules/_cols.sass
Labels: UX, goals: journalist experience

#2992 tests: guard modal clicks against race
  securedrop/tests/functional/journalist_navigation_steps.py
Labels: goals: sick CI, tests

#2997 i18n: en is not a valid locale, only en_US is
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
Labels: bug, goals: i18n, ops/deployment

#2998 securedrop-admin: user defined site-config variables must be preserved
  admin/securedrop_admin/__init__.py
  admin/tests/files/site-specific
  admin/tests/test_securedrop-admin.py
Labels: bug, ops/deployment

#2994 tests: remove @screenshot decorator because it obfuscates errors
  securedrop/tests/functional/journalist_navigation_steps.py
  securedrop/tests/functional/make_account_changes.py
  securedrop/tests/functional/source_navigation_steps.py
  securedrop/tests/functional/step_helpers.py
  securedrop/tests/functional/test_admin_interface.py
  securedrop/tests/functional/test_submit_and_retrieve_file.py
  securedrop/tests/functional/test_submit_and_retrieve_message.py
Labels: tests

#2999 Add 1 second sleep before css modal screenshot
  securedrop/tests/functional/journalist_navigation_steps.py
  securedrop/tests/pages-layout/test_journalist.py
Labels: CSS/SASS, functional_tests

#3002 Fixes #3001 initial support for type annotation
  mypy.ini
  securedrop/crypto_util.py
  securedrop/journalist_app/utils.py
  securedrop/models.py
  securedrop/requirements/securedrop-app-code-requirements.in
  securedrop/requirements/securedrop-app-code-requirements.txt
Labels: goals: app code cleanup

#3007 Fixes #3006 Adds Makefile target for type linting
  Makefile
  devops/docker/Dockerfile.typeannotation
Labels: feature, goals: sick CI

#2989 Allow blank sasl_domain in sdconfig
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
  install_files/ansible-base/roles/postfix/templates/sasl_passwd
Labels: feature, ops/deployment

#2996 tests: staging tests must be run as root
  docs/development/testing_application_tests.rst
Labels: bug, docs, tests

#2988 source: genkey runs in a thread and must have its own session
  securedrop/source_app/main.py
  securedrop/source_app/utils.py
Labels: app, bug

#2993 docs: apt-get update before apt-get install to avoid 404 on old packages
  docs/development/setup_development.rst
Labels: development env, docs

#2984 docs: add hardware description for portable SecureDrop demo
  docs/development/portable_demo.rst
  docs/index.rst
Labels: UX, docs

#3016 Update documentation_guidelines.rst
  docs/development/documentation_guidelines.rst
Labels: bug, docs

#3009 docs: App Server must be in italics
  docs/test_the_installation.rst
Labels: bug, docs

#2979 Remove global state of `config`
  securedrop/crypto_util.py
  securedrop/journalist_app/__init__.py
  securedrop/journalist_app/col.py
  securedrop/journalist_app/main.py
  securedrop/journalist_app/utils.py
  securedrop/manage.py
  securedrop/models.py
  securedrop/source_app/__init__.py
  securedrop/source_app/info.py
  securedrop/source_app/main.py
  securedrop/source_app/utils.py
  securedrop/store.py
  securedrop/tests/functional/functional_test.py
  securedrop/tests/functional/journalist_navigation_steps.py
  securedrop/tests/test_crypto_util.py
  securedrop/tests/test_integration.py
  securedrop/tests/test_journalist.py
  securedrop/tests/test_source.py
  securedrop/tests/test_store.py
  securedrop/tests/utils/db_helper.py
  securedrop/tests/utils/env.py
Labels: goals: app code cleanup

#2956 securedrop-admin: implement dev-shell
  admin/.dockerignore
  admin/Dockerfile
  admin/Makefile
  admin/bin/dev-shell
  admin/tox.ini
  docs/development/admin_development.rst
  docs/index.rst
Labels: goals: improve developer workflow

#2990 tests: docker based development environment
  .circleci/config.yml
  Makefile
  docs/development/documentation_guidelines.rst
  docs/development/setup_development.rst
  docs/development/testing_application_tests.rst
  docs/development/testing_configuration_tests.rst
  docs/development/virtual_environments.rst
  molecule/aws/aws-launch.yml
  molecule/aws/scripts/ci-tester.sh
  molecule/aws/side_effect.yml
  securedrop/Dockerfile
  securedrop/Makefile
  securedrop/bin/dev-deps
  securedrop/bin/dev-shell
  securedrop/bin/run
  securedrop/bin/run-test
  securedrop/bin/update-user-guides
  securedrop/create-demo-user.py
  testinfra/development/test_development_application_settings.py
  testinfra/development/test_development_environment.py
  testinfra/development/test_development_networking.py
  testinfra/test.py
  testinfra/vars/development.yml
Labels: development env, feature

#3010 docs: s/each image in the web/each page in the web/
  docs/development/documentation_guidelines.rst
Labels: bug, docs

#3025 tests: cleanup pyc and __pycache__
  securedrop/bin/dev-shell
Labels: bug, tests

#2985 docs: rework the i18n documentation for clarity and remove obsolete parts
  docs/development/i18n.rst
Labels: docs, goals: i18n

#3032 tests: merge Dockerfile.typeannotation with Dockerfile.linting
  .dockerignore
  .gitignore
  Makefile
  admin/bin/dev-shell
  devops/docker/Dockerfile.linting
  devops/docker/Dockerfile.typeannotation
  devops/scripts/dev-shell-ci
  devops/scripts/ticker
  securedrop/bin/dev-deps
  securedrop/bin/dev-shell
  securedrop/bin/run-test
Labels: tests

#3035 Fixes #2114 Adds clear caution messages
  docs/set_up_admin_tails.rst
Labels: docs

#3027 securedrop-admin: an empty config is {}, not None
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
Labels: bug, ops/deployment

#3040 test: the demo user needs to be admin
  securedrop/create-demo-user.py
Labels: bug, tests

#3042 i18n: remind reviewers and i18n maintainers to check translated strings
  docs/development/i18n.rst
Labels: docs, goals: i18n

#3041 tests: flake8 --exclude must be combined in the same value
  Makefile
Labels: bug, tests

#3048 docs: Clarify setup instructions for TOTP in dev environment
  docs/development/setup_development.rst
Labels: docs

#3039 tests: use TAG when possible and default to git rev-parse HEAD
  devops/scripts/dev-shell-ci
Labels: CI-specific bug, bug, tests

#3029 tails_printing_guide.rst: fix style issues
  docs/tails_printing_guide.rst
Labels: bug, docs

#3054 tests: makedirs is better than system("mkdir -p")
  securedrop/tests/pages-layout/functional_test.py
Labels: tests

#3053 use context managers to properly close resources
  install_files/ansible-base/roles/tails-config/files/securedrop_init.py
  securedrop/source_app/main.py
  securedrop/source_app/utils.py
Labels: goals: app code cleanup

#3017 Update create_admin_account.rst
  docs/create_admin_account.rst
Labels: bug, docs

#3062 app: add missing journalist templates in apparmor
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/files/usr.sbin.apache2
Labels: app, bug, journalist_interface

#3059 Change venv python binary setup docs on macOS
  docs/development/setup_development.rst
Labels: docs

#3046 Release script: do not create tag for release candidates
  securedrop/Dockerfile
  update_version.sh
Labels: goals: packaging, goals: speed up release process

#3038 Apparmor: allow apache2 to execute /usr/bin/file
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/files/usr.sbin.apache2
Labels: bug, ops/deployment, security

#3028 docs: Update Admin and Journalist terms acc to Docs guidelines
  docs/generate_securedrop_application_key.rst
  docs/hardware.rst
  docs/journalist.rst
  docs/network_firewall.rst
  docs/onboarding.rst
  docs/set_up_admin_tails.rst
  docs/tails_guide.rst
  docs/threat_model/threat_model.rst
  docs/upgrade/0.4.x_to_0.5.rst
Labels: docs

#3070 Replace occurrences of Mac OS X to macOS in docs
  docs/development/setup_development.rst
  docs/development/tips_and_tricks.rst
  docs/development/virtual_environments.rst
  docs/tails_guide.rst
Labels: docs

#3065 build: pip wheel must fail when it does not build a python module
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/tasks/build_securedrop_app_code_deb.yml
  molecule/builder/Dockerfile
  molecule/builder/Dockerfile.j2
  molecule/builder/create.yml
  molecule/builder/molecule.yml
  molecule/docker_hashes.yml
Labels: bug, build VM

#3068 admin: do not ignore setup arguments
  securedrop-admin
Labels: bug, ops/deployment

#3066 docker: move the docker image capture logic in ticker
  admin/bin/dev-shell
  devops/scripts/dev-shell-ci
  devops/scripts/ticker
  docs/development/setup_development.rst
  securedrop/bin/dev-shell
Labels: feature, tests

#3055 WIP - Bandit static analysis
  .circleci/config.yml
  Makefile
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
  securedrop/journalist.py
  securedrop/manage.py
  securedrop/request_that_secures_file_uploads.py
  securedrop/requirements/develop-requirements.in
  securedrop/requirements/develop-requirements.txt
  securedrop/source.py
  securedrop/store.py
Labels: feature, goals: improve developer workflow

#3026 Add securedrop-admin update and securedrop-admin check_for_updates
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
Labels: feature, ops/deployment

#3033 Fixes #3031 type annotation for application config
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/files/usr.sbin.apache2
  molecule/builder/tests/test_securedrop_deb_package.py
  securedrop/create-demo-user.py
  securedrop/crypto_util.py
  securedrop/journalist.py
  securedrop/journalist_app/__init__.py
  securedrop/journalist_app/utils.py
  securedrop/manage.py
  securedrop/sdconfig.py
  securedrop/source.py
  securedrop/source_app/__init__.py
  securedrop/tests/conftest.py
  securedrop/tests/functional/functional_test.py
  securedrop/tests/functional/journalist_navigation_steps.py
  securedrop/tests/test_crypto_util.py
  securedrop/tests/test_i18n.py
  securedrop/tests/test_integration.py
  securedrop/tests/test_journalist.py
  securedrop/tests/test_manage.py
  securedrop/tests/test_secure_tempfile.py
  securedrop/tests/test_source.py
  securedrop/tests/test_store.py
  securedrop/tests/test_template_filters.py
  securedrop/tests/utils/db_helper.py
  securedrop/tests/utils/env.py
Labels: feature, tests

#3078 journalist: kindly ask to check the mail
  securedrop/journalist_app/admin.py
  securedrop/tests/functional/journalist_navigation_steps.py
Labels: app, goals: journalist experience

#3050 Migrate to font-awesome v5
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/files/usr.sbin.apache2
  securedrop/journalist_templates/_source_row.html
  securedrop/journalist_templates/admin.html
  securedrop/journalist_templates/col.html
  securedrop/journalist_templates/config.html
  securedrop/journalist_templates/edit_account.html
  securedrop/journalist_templates/index.html
  securedrop/journalist_templates/login.html
  securedrop/sass/libraries/_font-awesome-iconography.sass
  securedrop/static/fonts/FontAwesome.otf
  securedrop/static/fonts/fa-brands-400.eot
  securedrop/static/fonts/fa-brands-400.svg
  securedrop/static/fonts/fa-brands-400.ttf
  securedrop/static/fonts/fa-brands-400.woff
  securedrop/static/fonts/fa-brands-400.woff2
  securedrop/static/fonts/fa-regular-400.eot
  securedrop/static/fonts/fa-regular-400.svg
  securedrop/static/fonts/fa-regular-400.ttf
  securedrop/static/fonts/fa-regular-400.woff
  securedrop/static/fonts/fa-regular-400.woff2
  securedrop/static/fonts/fa-solid-900.eot
  securedrop/static/fonts/fa-solid-900.svg
  securedrop/static/fonts/fa-solid-900.ttf
  securedrop/static/fonts/fa-solid-900.woff
  securedrop/static/fonts/fa-solid-900.woff2
  securedrop/static/fonts/fontawesome-webfont.eot
  securedrop/static/fonts/fontawesome-webfont.svg
  securedrop/static/fonts/fontawesome-webfont.ttf
  securedrop/static/fonts/fontawesome-webfont.woff
  securedrop/static/fonts/fontawesome-webfont.woff2
  securedrop/static/js/journalist.js
Labels: UX, feature
