Repository freedomofpress/securedrop, pull requests merged in 2018-04, with the labels that each got.

#3218 Unit tests: Verify journalist username containing whitespace can login
  securedrop/tests/test_journalist.py
Labels: journalist_interface, tests

#3057 Improvements in image upload functionality
  install_files/ansible-base/group_vars/all/securedrop
  install_files/securedrop-app-code/DEBIAN/control
  molecule/builder/Dockerfile
  securedrop/Dockerfile
  securedrop/journalist_app/__init__.py
  securedrop/journalist_app/admin.py
  securedrop/journalist_app/forms.py
  securedrop/journalist_app/main.py
  securedrop/journalist_templates/base.html
  securedrop/journalist_templates/config.html
  securedrop/requirements/securedrop-app-code-requirements.in
  securedrop/requirements/securedrop-app-code-requirements.txt
  securedrop/source_app/main.py
  securedrop/source_templates/base.html
  securedrop/source_templates/index.html
  securedrop/tests/test_journalist.py
Labels: UX, goals: journalist experience

#3222 App armor custom logo
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/files/usr.sbin.apache2
  securedrop/.gitignore
Labels: ops/deployment

#3225 AppArmor: Whitelist fa-globe-black.png
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/files/usr.sbin.apache2
Labels: app, bug, ops/deployment

#3036 Fixes #2089 Updates messages on source interface
  securedrop/source_templates/generate.html
  securedrop/source_templates/index.html
  securedrop/source_templates/lookup.html
  securedrop/source_templates/tor2web-warning.html
  securedrop/tests/functional/source_navigation_steps.py
  securedrop/tests/test_source.py
Labels: app

#3249 pytest fixutres for template filters
  securedrop/tests/test_template_filters.py
Labels: goals: app code cleanup, tests

#2803 daily email alert to journalists about submissions received in the past 24h
  .dockerignore
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
  docs/install.rst
  docs/journalist.rst
  install_files/ansible-base/group_vars/staging.yml
  install_files/ansible-base/roles/app/tasks/setup_cron.yml
  install_files/ansible-base/roles/ossec/defaults/main.yml
  install_files/ansible-base/roles/ossec/files/process_submissions_today.sh
  install_files/ansible-base/roles/ossec/tasks/configure_server.yml
  install_files/ansible-base/roles/ossec/templates/send_encrypted_alarm.sh
  install_files/ansible-base/roles/postfix/files/procmailrc
  install_files/securedrop-ossec-agent/var/ossec/etc/ossec.conf
  install_files/securedrop-ossec-server/var/ossec/etc/ossec.conf
  install_files/securedrop-ossec-server/var/ossec/rules/local_rules.xml
  molecule/aws/scripts/ci-tester.sh
  securedrop/manage.py
  securedrop/tests/test_manage.py
  testinfra/mon/test_ossec.py
  testinfra/mon/test_postfix.py
  testinfra/ossec/test_journalist_mail.py
  testinfra/test.py
  testinfra/vars/staging.yml
Labels: OSSEC, feature, goals: journalist experience

#3250 pytest for test_store.py
  securedrop/tests/test_store.py
Labels: goals: app code cleanup, tests

#3265 [docs] Discourage active links to .onion addresses or to SecureDrop.org
  docs/deployment/landing_page.rst
Labels: docs

#3272 added hashes for pluggy python wheels
  admin/requirements-dev.txt
Labels: bug, development env, goals: sick CI

#3256 Additional pytest fixtures for test_journalist.py
  securedrop/models.py
  securedrop/tests/test_journalist.py
Labels: goals: app code cleanup, tests

#3260 Alembic migration test harness
  docs/development/database_migrations.rst
  securedrop/.rsync-filter
  securedrop/tests/migrations/__init__.py
  securedrop/tests/migrations/helpers.py
  securedrop/tests/migrations/migration_15ac9509fc68.py
  securedrop/tests/migrations/migration_faac8092c123.py
  securedrop/tests/test_alembic.py
Labels: tests

#3257 Securedrop-admin update: Try alternate keyserver if primary is not available
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
Labels: bug, ops/deployment

#3275 tests: rename make_account_changes test_make_account_changes
  securedrop/tests/functional/test_make_account_changes.py
Labels: bug, tests

#3271 deprecate the Vagrant development VM
  Vagrantfile
  install_files/ansible-base/group_vars/all/securedrop
  install_files/ansible-base/group_vars/staging.yml
  install_files/ansible-base/host_vars/README
  install_files/ansible-base/host_vars/development.yml
  install_files/ansible-base/roles/app-test/tasks/main.yml
  install_files/ansible-base/roles/app-test/tasks/staging_wsgi_files.yml
  install_files/ansible-base/roles/app/defaults/main.yml
  install_files/ansible-base/roles/app/tasks/main.yml
  install_files/ansible-base/roles/development/defaults/main.yml
  install_files/ansible-base/roles/development/tasks/main.yml
  install_files/ansible-base/securedrop-development.yml
  molecule/builder/Dockerfile
  testinfra/app-code/test_xvfb.py
  testinfra/test.py
Labels: bug, development env

#3283 [qt-journalist-updater] Add docs for updater
  docs/admin.rst
  docs/includes/update-gui.txt
  docs/journalist.rst
Labels: docs

#3294 docs: add link to The Global and Mail guide to using SecureDrop
  docs/development/l10n.rst
Labels: docs, goals: i18n

#3306 docs: add AMA link to the l10n guide
  docs/development/l10n.rst
Labels: docs, goals: i18n

#3276 Pytest fixtures for test_2fa.py
  securedrop/tests/test_2fa.py
  securedrop/tests/utils/__init__.py
Labels: goals: app code cleanup, tests

#3321 source: "in the past" suggests a long time ago
  securedrop/source_templates/index.html
Labels: goals: improve source experience

#3323 [0.7.0] source: "in the past" suggests a long time ago
  securedrop/source_templates/index.html
Labels: goals: improve source experience
