Repository freedomofpress/securedrop, pull requests merged in 2018-07, with the labels that each got.

#3576 More journalist pytest
  securedrop/tests/test_journalist.py
Labels: goals: app code cleanup, tests

#3648 source: do not set last_updated default to now
  securedrop/models.py
  securedrop/tests/utils/db_helper.py
Labels: bug, goals: journalist experience

#3652 Journalist API - Validate json before routing request
  securedrop/journalist_app/api.py
  securedrop/tests/test_journalist_api.py
Labels: PR: Pending additional work

#3506 Added passlib for more flexible password hashing
  docs/development/setup_development.rst
  install_files/ansible-base/group_vars/all/securedrop
  install_files/securedrop-app-code/DEBIAN/control
  securedrop/alembic/versions/2d0ce3ee5bdc_added_passphrase_hash_column_to_.py
  securedrop/create-dev-data.py
  securedrop/models.py
  securedrop/qa_loader.py
  securedrop/requirements/securedrop-app-code-requirements.in
  securedrop/requirements/securedrop-app-code-requirements.txt
  securedrop/tests/migrations/migration_2d0ce3ee5bdc.py
  securedrop/tests/test_alembic.py
  securedrop/tests/test_journalist.py
Labels: app, feature
