Repository freedomofpress/securedrop, pull requests merged in 2018-05, with the labels that each got.

#3328 [0.7.0] Improve exit codes in securedrop-admin
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
Labels: ops/deployment

#3305 Reduce time information leakage of file uploads and file downloads
  securedrop/store.py
  securedrop/tests/test_source.py
Labels: app, security

#3322 source: double space in translated string
  securedrop/source_templates/lookup.html
Labels: goals: app code cleanup, goals: i18n

#3330 [0.7.0] Reduce time information leakage of file uploads and file downloads
  securedrop/store.py
  securedrop/tests/test_source.py
Labels: security

#3344 [0.7.0] Improve SSH over Tor or LAN prompt in securedrop-admin sdconfig
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
  docs/ssh_over_local_net.rst
Labels: ops/deployment

#3099 Docs hardwarefirewall
  docs/hardware.rst
  docs/images/firewall/add_firewall_alias.png
  docs/images/firewall/alternate_hostnames.png
  docs/images/firewall/configure_lan_interface.png
  docs/images/firewall/default_pfsense.png
  docs/images/firewall/disable_DHCP.png
  docs/images/firewall/ip_aliases_post_save.png
  docs/images/firewall/ip_aliases_pre_save.png
  docs/images/firewall/lan_rules.png
  docs/images/firewall/pfsense_blank_ip_aliases.png
  docs/images/firewall/pfsense_diagnostics_ping.png
  docs/images/firewall/port_aliases.png
  docs/network_firewall.rst
  install_files/network_firewall/aliases-config-pfSense.xml
  install_files/network_firewall/filter-config-pfSense.xml
  install_files/network_firewall/interfaces-config-pfSense.xml
Labels: docs, ops/deployment

#3378 Make unread status on submissions and sources clearer
  securedrop/journalist_templates/_source_row.html
  securedrop/journalist_templates/col.html
  securedrop/sass/journalist.sass
  securedrop/sass/modules/_cols.sass
  securedrop/sass/modules/_submission.sass
Labels: UX, goals: journalist experience

#3377 l10n: sync translations
  docs/development/i18n.rst
  docs/includes/l10n.txt
  install_files/ansible-base/roles/tails-config/templates/desktop-journalist-icon.j2
  install_files/ansible-base/roles/tails-config/templates/desktop-source-icon.j2
  install_files/ansible-base/roles/tails-config/templates/es_ES.po
  install_files/ansible-base/roles/tails-config/templates/hi.po
  install_files/ansible-base/roles/tails-config/templates/pt_BR.po
  install_files/ansible-base/roles/tails-config/templates/ru.po
  securedrop/i18n_tool.py
  securedrop/translations/ar/LC_MESSAGES/messages.po
  securedrop/translations/de_DE/LC_MESSAGES/messages.po
  securedrop/translations/es_ES/LC_MESSAGES/messages.po
  securedrop/translations/fr_FR/LC_MESSAGES/messages.po
  securedrop/translations/hi/LC_MESSAGES/messages.po
  securedrop/translations/it_IT/LC_MESSAGES/messages.po
  securedrop/translations/messages.pot
  securedrop/translations/nb_NO/LC_MESSAGES/messages.po
  securedrop/translations/nl/LC_MESSAGES/messages.po
  securedrop/translations/pt_BR/LC_MESSAGES/messages.po
  securedrop/translations/ru/LC_MESSAGES/messages.po
  securedrop/translations/tr/LC_MESSAGES/messages.po
  securedrop/translations/zh_Hant/LC_MESSAGES/messages.po
Labels: goals: i18n

#3374 ossec: resolve journalist notification racing with reboots
  docs/install.rst
  install_files/ansible-base/roles/ossec/files/process_submissions_today.sh
  install_files/securedrop-ossec-agent/var/ossec/etc/ossec.conf
  testinfra/ossec/alert-journalist-one.txt
  testinfra/ossec/alert-journalist-two.txt
  testinfra/ossec/alert-ossec.txt
  testinfra/ossec/test_journalist_mail.py
Labels: bug, goals: journalist experience, ops/deployment

#3383 [0.7.0] l10n: sync translations
  docs/development/i18n.rst
  docs/includes/l10n.txt
  install_files/ansible-base/roles/tails-config/templates/desktop-journalist-icon.j2
  install_files/ansible-base/roles/tails-config/templates/desktop-source-icon.j2
  install_files/ansible-base/roles/tails-config/templates/es_ES.po
  install_files/ansible-base/roles/tails-config/templates/hi.po
  install_files/ansible-base/roles/tails-config/templates/pt_BR.po
  install_files/ansible-base/roles/tails-config/templates/ru.po
  securedrop/i18n_tool.py
  securedrop/translations/ar/LC_MESSAGES/messages.po
  securedrop/translations/de_DE/LC_MESSAGES/messages.po
  securedrop/translations/es_ES/LC_MESSAGES/messages.po
  securedrop/translations/fr_FR/LC_MESSAGES/messages.po
  securedrop/translations/hi/LC_MESSAGES/messages.po
  securedrop/translations/it_IT/LC_MESSAGES/messages.po
  securedrop/translations/messages.pot
  securedrop/translations/nb_NO/LC_MESSAGES/messages.po
  securedrop/translations/nl/LC_MESSAGES/messages.po
  securedrop/translations/pt_BR/LC_MESSAGES/messages.po
  securedrop/translations/ru/LC_MESSAGES/messages.po
  securedrop/translations/tr/LC_MESSAGES/messages.po
  securedrop/translations/zh_Hant/LC_MESSAGES/messages.po
Labels: goals: i18n

#3384 [0.7.0] ossec: resolve journalist notification racing with reboots
  docs/install.rst
  install_files/ansible-base/roles/ossec/files/process_submissions_today.sh
  install_files/securedrop-ossec-agent/var/ossec/etc/ossec.conf
  testinfra/ossec/alert-journalist-one.txt
  testinfra/ossec/alert-journalist-two.txt
  testinfra/ossec/alert-ossec.txt
  testinfra/ossec/test_journalist_mail.py
Labels: bug, goals: journalist experience, ops/deployment

#3385 Docs various fixes
  docs/development/making_pr.rst
  docs/getting_the_most_out_of_securedrop.rst
  docs/hardware.rst
  docs/ssh_over_local_net.rst
  docs/tails_guide.rst
Labels: bug, docs

#3075 Local automated upgrade testing
  .dockerignore
  .flake8
  .gitignore
  Makefile
  devops/scripts/vagrant_package.sh
  install_files/ansible-base/group_vars/all/securedrop
  install_files/ansible-base/roles/build-generic-pkg/defaults/main.yml
  install_files/ansible-base/roles/build-generic-pkg/tasks/main.yml
  install_files/ansible-base/roles/build-ossec-deb-pkg/library/ossec_urls.py
  install_files/securedrop-grsec/DEBIAN/control.j2
  molecule/ansible-config/molecule.yml
  molecule/aws/molecule.yml
  molecule/builder/molecule.yml
  molecule/builder/tests/test_securedrop_deb_package.py
  molecule/builder/tests/vars.yml
  molecule/upgrade/ansible-override-vars.yml
  molecule/upgrade/apt.yml
  molecule/upgrade/create.yml
  molecule/upgrade/destroy.yml
  molecule/upgrade/files/apt-test-fpf.pub
  molecule/upgrade/files/apt-test.priv
  molecule/upgrade/files/apt-test.pub
  molecule/upgrade/files/apt_https.priv
  molecule/upgrade/files/apt_https.pub
  molecule/upgrade/files/cacert.pub
  molecule/upgrade/local_apt_mirror.yml
  molecule/upgrade/local_apt_with_debs.yml
  molecule/upgrade/molecule.yml
  molecule/upgrade/playbook.yml
  molecule/upgrade/prepare.yml
  molecule/upgrade/reboot_and_wait.yml
  molecule/upgrade/requirements.yml
  molecule/upgrade/sd_clone.yml
  molecule/upgrade/side_effect.yml
  molecule/upgrade/templates/distributions.j2
  molecule/vagrant_packager/ansible-override-vars.yml
  molecule/vagrant_packager/box_files/Vagrantfile.app-staging
  molecule/vagrant_packager/box_files/Vagrantfile.mon-staging
  molecule/vagrant_packager/box_files/app_metadata.json
  molecule/vagrant_packager/box_files/mon_metadata.json
  molecule/vagrant_packager/box_files/vagrant_app-staging.yml
  molecule/vagrant_packager/box_files/vagrant_mon-staging.yml
  molecule/vagrant_packager/build/.gitignore
  molecule/vagrant_packager/create.yml
  molecule/vagrant_packager/destroy.yml
  molecule/vagrant_packager/molecule.yml
  molecule/vagrant_packager/package.py
  molecule/vagrant_packager/playbook.yml
  molecule/vagrant_packager/prepare.yml
  molecule/vagrant_packager/push.yml
  molecule/vagrant_packager/reboot_and_wait.yml
  molecule/vagrant_packager/sd_clone.yml
  molecule/vagrant_packager/side_effect.yml
  securedrop/i18n_tool.py
  securedrop/requirements/develop-requirements.in
  securedrop/requirements/develop-requirements.txt
  testinfra/mon/test_network.py
Labels: development env, feature, goals: improve developer workflow

#3392 Docs: Admin guide FAQ
  docs/admin.rst
Labels: docs

#3397 Rename Document Interface to Journalist Interface in Docker dev env
  securedrop/management/run.py
Labels: development env

#3398 add /var/lib/securedrop/tmp to the docker development environment
  securedrop/bin/dev-deps
Labels: bug, development env

#3406 improve logic in securedrop-admin update
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
  docs/set_up_admin_tails.rst
Labels: ops/deployment, security

#3402 Replaced "print" statement with "print()" function, removed "# pragma…
  securedrop/manage.py
Labels: ops/deployment, tests

#3404 docs: add missing directory in developper instructions
  docs/development/setup_development.rst
Labels: bug, docs, goals: improve developer workflow

#3429 Fix check_for_updates
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
Labels: bug, ops/deployment

#3430 [0.7.0] Backport fix #3429
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
Labels: bug, ops/deployment

#3408 docs: make style guide fixes throughout
  docs/backup_and_restore.rst
  docs/configure_admin_workstation_post_install.rst
  docs/development/setup_development.rst
  docs/development/tips_and_tricks.rst
  docs/https_source_interface.rst
  docs/install.rst
  docs/onboarding.rst
  docs/passphrases.rst
  docs/tails_guide.rst
  docs/test_the_installation.rst
  docs/threat_model/threat_model.rst
  docs/training_schedule.rst
Labels: docs

#3413 Document release management i18n coordination
  docs/development/i18n.rst
  docs/development/release_management.rst
Labels: docs, goals: speed up release process

#3431 docs: section titles
  docs/admin.rst
  docs/backup_and_restore.rst
  docs/before_you_begin.rst
  docs/configure_admin_workstation_post_install.rst
  docs/create_admin_account.rst
  docs/development/admin_development.rst
  docs/development/apparmor_profiles.rst
  docs/development/apt_repo.rst
  docs/development/contributor_guidelines.rst
  docs/development/documentation_guidelines.rst
  docs/development/getting_started.rst
  docs/development/i18n.rst
  docs/development/l10n.rst
  docs/development/making_pr.rst
  docs/development/setup_development.rst
  docs/development/testing_application_tests.rst
  docs/development/testing_configuration_tests.rst
  docs/development/testing_continuous_integration.rst
  docs/development/tips_and_tricks.rst
  docs/development/updategui_development.rst
  docs/generate_securedrop_application_key.rst
  docs/hardware.rst
  docs/install.rst
  docs/journalist.rst
  docs/network_firewall.rst
  docs/onboarding.rst
  docs/ossec_alerts.rst
  docs/servers.rst
  docs/servers_2fa.rst
  docs/set_up_svs.rst
  docs/set_up_transfer_device.rst
  docs/source.rst
  docs/ssh_over_local_net.rst
  docs/tails_printing_guide.rst
  docs/test_the_installation.rst
  docs/threat_model/threat_model.rst
  docs/training_schedule.rst
  docs/upgrade/0.3.x_to_0.4.rst
  docs/upgrade/0.4.x_to_0.5.rst
  docs/upgrade/0.5.x_to_0.6.rst
  docs/upgrade/0.6.x_to_0.7.rst
  docs/upgrade_to_tails_2x.rst
  docs/upgrade_to_tails_3x.rst
  docs/what_makes_securedrop_unique.rst
Labels: docs

#3427 docs: remove both .venv and admin/.venv
  docs/install.rst
Labels: docs, ops/deployment

#3401 Support conditional questions in securedrop-admin sdconfig.
  admin/securedrop_admin/__init__.py
  admin/tests/test_securedrop-admin.py
Labels: feature, ops/deployment

#3437 Fix improper reference link in logging.rst
  docs/admin.rst
  docs/logging.rst
Labels: bug, docs

#3440 Revise the documentation style guide
  docs/development/documentation_guidelines.rst
Labels: docs

#3439 Add explanatory text to screensaver.
  securedrop/sass/source.sass
  securedrop/source_templates/base.html
  securedrop/source_templates/index.html
  securedrop/source_templates/screensaver.html
Labels: goals: improve source experience, source_interface

#3455 Apache AppArmor: Whitelist new source template screensaver.html
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/files/usr.sbin.apache2
Labels: bug, journalist_interface

#3453 Fix make update-pip-requirements
  admin/requirements-dev.in
  admin/requirements-dev.txt
Labels: bug, goals: improve developer workflow

#3457 Docs: Add metadata guide from FPF website
  docs/journalist.rst
Labels: docs

#3463 Edit and revise installation guide
  docs/install.rst
Labels: docs

#3381 Improve error in form validation for logo upload: only PNGs allowed
  securedrop/journalist_app/forms.py
  securedrop/tests/test_journalist.py
Labels: goals: journalist experience, journalist_interface

#3464 docs: better formatting of i18 codes
  docs/includes/l10n.txt
  securedrop/i18n_tool.py
Labels: docs

#3466 ansible: rules_v4 does not need to inspect unused ipv4 details
  install_files/ansible-base/roles/restrict-direct-access/templates/rules_v4
Labels: bug, goals: Improve Ansible logic / smoother install, ops/deployment

#3456 Yet more journalist pytest
  securedrop/manage.py
  securedrop/tests/conftest.py
  securedrop/tests/test_journalist.py
Labels: tests

#3467 docs: Revise before_you_begin.rst
  docs/before_you_begin.rst
Labels: docs

#3331 Speed up debian build process
  install_files/ansible-base/build-deb-pkgs.yml
  install_files/ansible-base/group_vars/all/securedrop
  install_files/ansible-base/roles/build-generic-pkg/tasks/main.yml
  install_files/ansible-base/roles/build-ossec-deb-pkg/defaults/main.yml
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/tasks/build_securedrop_app_code_deb.yml
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/tasks/main.yml
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/tasks/translations.yml
  molecule/ansible-config/tests/test_max_fail_percentage.py
  molecule/builder/Dockerfile
  molecule/builder/Makefile
  molecule/builder/create.yml
  molecule/builder/molecule.yml
  molecule/builder/playbook.yml
  molecule/builder/tests/test_build_dependencies.py
  molecule/builder/tests/test_ossec_packages.py
  molecule/builder/tests/test_securedrop_deb_package.py
  molecule/builder/tests/test_security_updates.py
  molecule/builder/tests/vars.yml
Labels: goals: improve developer workflow

#3422 Docs reset passphrase
  docs/images/manual/screenshots/journalist-edit_account_user.png
  docs/journalist.rst
Labels: docs

#3458 replace pycryptodome with pyca/cryptography 2.0.3
  securedrop/Dockerfile
  securedrop/crypto_util.py
  securedrop/requirements/securedrop-app-code-requirements.in
  securedrop/requirements/securedrop-app-code-requirements.txt
  securedrop/secure_tempfile.py
  securedrop/tests/functional/functional_test.py
Labels: app, goals: app code cleanup

#3476 Minor docs fixes
  docs/development/documentation_guidelines.rst
  docs/includes/docs-branches.txt
Labels: docs

#3482 securedrop-app-code: Remove extra python-pip in Depends field
  install_files/securedrop-app-code/DEBIAN/control
Labels: goals: Improve packaging

#3480 Edit contribution guide
  docs/development/contributing.rst
  docs/development/getting_started.rst
  docs/index.rst
Labels: docs
