Repository freedomofpress/securedrop, pull requests merged in 2019-05, with the labels that each got.

#4400 [0.12.2] [docs] Add instructions for SecureDrop upgrades to Ubuntu 16.04 after EOL
  docs/includes/trusty-warning.txt
  docs/index.rst
  docs/upgrade/xenial_after_april_30.rst
  docs/upgrade/xenial_backup_install_restore.rst
  docs/upgrade/xenial_prep.rst
  docs/upgrade/xenial_upgrade_in_place.rst
Labels: docs

#4368 [docs] Clarifies use of KeePassX in passphrases docs
  docs/passphrases.rst
Labels: docs, small off-sprint PR

#4413 [docs] Standardize Submission Key language and usage
  docs/admin.rst
  docs/generate_submission_key.rst
  docs/glossary.rst
  docs/index.rst
  docs/install.rst
  docs/journalist.rst
  docs/onboarding.rst
  docs/threat_model/mitigations.rst
  docs/threat_model/threat_model.rst
Labels: docs

#4430 Update firewall reference in server docs
  docs/servers.rst
Labels: docs, small off-sprint PR

#4428 Update messages for manually flagged sources for accuracy
  install_files/ansible-base/roles/build-securedrop-app-code-deb-pkg/files/usr.sbin.apache2
  securedrop/source_templates/lookup.html
  securedrop/static/i/relieved_face.png
Labels: small off-sprint PR

#4432 Resolve linting issues, consolidate linting makefile targets
  .circleci/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile
  devops/docker/Dockerfile.linting
  devops/docker/Dockerfile.linting.deps
  devops/gce-nested/gce-start.sh
  securedrop/Makefile
  securedrop/requirements/develop-requirements.in
  securedrop/requirements/develop-requirements.txt
Labels: PR: Pending additional work

#4446 [docs] Update label query ("easy" was merged into "good first issue")
  docs/development/contributing.rst
Labels: docs, small off-sprint PR

#4447 [docs] Update SVS setup instructions to match current Tails Greeter
  docs/set_up_svs.rst
Labels: docs

#4456 changes docs references to 'sudo su' to 'sudo -u www-data bash'.
  docs/create_admin_account.rst
  docs/development/database_migrations.rst
  docs/development/virtual_environments.rst
Labels: docs, small off-sprint PR

#4466 admin CLI integration tests: re-run flaky git tests up to 3 times
  admin/tests/test_integration.py
  admin/tox.ini
Labels: small off-sprint PR

#4464 Remove Font Awesome References
  securedrop/sass/_base.sass
  securedrop/sass/journalist.sass
Labels: small off-sprint PR

#4431 Adds NUC7 hardware recommendation and relegates NUC5s and Mac minis to legacy
  docs/hardware.rst
  docs/images/hardware/nuc7-leads.jpg
  docs/images/hardware/visualbios.png
Labels: docs

#4495 [docs] [0.13.0] Added NUC7 hardware recommendation
  docs/hardware.rst
  docs/images/hardware/nuc7-leads.jpg
  docs/images/hardware/visualbios.png
Labels: docs
