Repository freedomofpress/securedrop, pull requests merged in 2019-09, with the labels that each got.

#4729 Adds check for valid v3 config on Admin Workstation
  install_files/ansible-base/roles/validate/tasks/validate_tails_environment.yml
Labels: Ansible

#4792 [docs] Update screenshots in docs for 1.0.0
  docs/images/manual/change-codename.png
  docs/images/manual/restart-tor-browser.png
  docs/images/manual/screenshots/journalist-admin_add_user_hotp.png
  docs/images/manual/screenshots/journalist-admin_add_user_totp.png
  docs/images/manual/screenshots/journalist-admin_changes_logo_image.png
  docs/images/manual/screenshots/journalist-admin_index_no_documents.png
  docs/images/manual/screenshots/journalist-admin_interface_index.png
  docs/images/manual/screenshots/journalist-admin_new_user_two_factor_hotp.png
  docs/images/manual/screenshots/journalist-admin_new_user_two_factor_totp.png
  docs/images/manual/screenshots/journalist-admin_ossec_alert_button.png
  docs/images/manual/screenshots/journalist-admin_system_config_page.png
  docs/images/manual/screenshots/journalist-clicks_on_source_and_selects_documents.png
  docs/images/manual/screenshots/journalist-col_flagged.png
  docs/images/manual/screenshots/journalist-col_has_no_key.png
  docs/images/manual/screenshots/journalist-composes_reply.png
  docs/images/manual/screenshots/journalist-edit_account_user.png
  docs/images/manual/screenshots/journalist-index_javascript.png
  docs/images/manual/screenshots/journalist-index_with_text.png
  docs/images/manual/screenshots/source-checks_for_reply.png
  docs/images/manual/screenshots/source-deletes_reply.png
  docs/images/manual/screenshots/source-enter-codename-in-login.png
  docs/images/manual/screenshots/source-flagged.png
  docs/images/manual/screenshots/source-generate.png
  docs/images/manual/screenshots/source-index.png
  docs/images/manual/screenshots/source-logout_flashed_message.png
  docs/images/manual/screenshots/source-lookup.png
  docs/images/manual/screenshots/source-submission_entered_text.png
  docs/images/manual/security-slider-high.png
  docs/images/manual/tbb_Document5.png
  docs/images/manual/tbb_Document6.png
  docs/journalist.rst
  docs/source.rst
Labels: docs

#4815 [docs] Add documentation of submission cleanup
  docs/admin.rst
  docs/backup_and_restore.rst
  docs/glossary.rst
  docs/ossec_alerts.rst
Labels: docs

#4763 [docs] updated documentation to include references to v3 services
  docs/admin.rst
  docs/backup_and_restore.rst
  docs/development/tips_and_tricks.rst
  docs/development/virtual_environments.rst
  docs/https_source_interface.rst
  docs/index.rst
  docs/install.rst
  docs/onboarding.rst
  docs/rebuild_admin.rst
  docs/test_the_installation.rst
  docs/v3_services.rst
Labels: docs

#4657 [docs] Overhaul Transfer Device and export recommendations
  docs/checklists/pre_install_hardware.rst
  docs/diagrams/README.md
  docs/diagrams/SecureDrop-en.png
  docs/diagrams/SecureDrop-en.svg
  docs/diagrams/SecureDrop-ru.png
  docs/diagrams/SecureDrop_DataFlow.draw
  docs/diagrams/SecureDrop_DataFlow.png
  docs/generate_submission_key.rst
  docs/glossary.rst
  docs/hardware.rst
  docs/images/install/importkey.png
  docs/images/manual/unlock-veracrypt-in-tails-1.png
  docs/images/manual/unlock-veracrypt-in-tails-2.png
  docs/images/manual/unlock-veracrypt-in-tails-3.png
  docs/images/manual/unlock-veracrypt-in-tails-4.png
  docs/images/manual/viewing6.png
  docs/images/manual/viewing7.png
  docs/images/manual/viewing8.png
  docs/images/screenshots/passphrase-keyring.png
  docs/includes/encrypting-drives.txt
  docs/includes/pre-install-hardware-optional.txt
  docs/includes/pre-install-hardware-required.txt
  docs/includes/pre-install-hardware.txt
  docs/index.rst
  docs/journalist.rst
  docs/onboarding.rst
  docs/overview.rst
  docs/passphrase_best_practices.rst
  docs/passphrases.rst
  docs/set_up_transfer_and_export_device.rst
  docs/set_up_transfer_device.rst
  docs/threat_model/threat_model.rst
Labels: docs

#4844 [1.0.0] [docs] added HTTPS EV cert note
  docs/v3_services.rst
Labels: docs

#4870 Apply mix fixes in install_files/securedrop-app-code/debian/copyright
  install_files/securedrop-app-code/debian/copyright
Labels: small off-sprint PR

#4858 Reordered manage.py args in parser.
  securedrop/manage.py
  securedrop/management/submissions.py
Labels: small off-sprint PR
