Repository freedomofpress/securedrop, pull requests merged in 2019-12, with the labels that each got.

#5041 Clarify which option to choose in "Install Once/Every Time" dialog
  docs/upgrade/1.0.0_to_1.1.0.rst
Labels: docs

#5053 [docs] Add 1.1.0 to 1.2.0 upgrade guide, remove 0.14.0 to 1.0.0
  docs/index.rst
  docs/upgrade/0.14.0_to_1.0.0.rst
  docs/upgrade/1.0.0_to_1.1.0.rst
  docs/upgrade/1.1.0_to_1.2.0.rst
Labels: docs

#5063 Update screenshot of SecureDrop Updater in Tails (new logo)
  docs/images/0.6.x_to_0.7/securedrop-updater.png
  docs/images/securedrop-updater.png
  docs/upgrade/1.0.0_to_1.1.0.rst
  docs/upgrade/1.1.0_to_1.2.0.rst
Labels: small off-sprint PR

#5078 Added note in source guide to recommend against contacting FPF for help with a specific instance.
  docs/source.rst
Labels: docs, small off-sprint PR
