Repository freedomofpress/securedrop, pull requests merged in 2019-10, with the labels that each got.

#4874 Fix scaling of diagrams in docs
  docs/overview.rst
  docs/threat_model/dataflow.rst
Labels: small off-sprint PR

#4892 Fix column/button alignment problems on source start page
  securedrop/sass/_source_index.sass
Labels: UX

#4928 Add 1.0.0->1.1.0 upgrade guide
  docs/index.rst
  docs/upgrade/0.13.0_to_0.13.1.rst
  docs/upgrade/0.13.1_to_0.14.0.rst
  docs/upgrade/1.0.0_to_1.1.0.rst
Labels: docs

#4937 Update printer & SVS setup guide for Tails 4
  docs/images/install/selectsettings.png
  docs/images/printer_setup_guide/add_printer.png
  docs/images/printer_setup_guide/printer_installing.png
  docs/images/printer_setup_guide/printer_ready.png
  docs/images/printer_setup_guide/select_devices_from_settings.png
  docs/images/printer_setup_guide/select_printer_from_settings.png
  docs/images/printer_setup_guide/select_printer_to_add.png
  docs/includes/tails-svs-nautilus.txt
  docs/set_up_svs.rst
  docs/tails_printing_guide.rst
Labels: docs

#4947 [1.1.0] Update printer & SVS setup guide for Tails 4
  docs/images/install/selectsettings.png
  docs/images/printer_setup_guide/add_printer.png
  docs/images/printer_setup_guide/printer_installing.png
  docs/images/printer_setup_guide/printer_ready.png
  docs/images/printer_setup_guide/select_devices_from_settings.png
  docs/images/printer_setup_guide/select_printer_from_settings.png
  docs/images/printer_setup_guide/select_printer_to_add.png
  docs/includes/tails-svs-nautilus.txt
  docs/set_up_svs.rst
  docs/tails_printing_guide.rst
Labels: docs

#4918 Bump prod app server memory to 1024MB in Vagrantfile
  Vagrantfile
Labels: small off-sprint PR

#4943 Fix "make test-config"
  Makefile
  securedrop/bin/dev-shell
Labels: small off-sprint PR

#4880 Copyedit and update Source Guide
  docs/source.rst
Labels: docs, security

#4960 Replaced deprecated make -C securedrop in docs (#4959)
  docs/development/documentation_guidelines.rst
  docs/development/i18n.rst
  docs/development/testing_application_tests.rst
Labels: docs, small off-sprint PR
