Repository freedomofpress/securedrop, pull requests merged in 2020-06, with the labels that each got.

#5286 Fixes #5285 upgrades sphinx for developer requirements
  docs/conf.py
  docs/development/virtualizing_tails.rst
  docs/kernel_troubleshooting.rst
  securedrop/requirements/python3/develop-requirements.in
  securedrop/requirements/python3/develop-requirements.txt
Labels: small off-sprint PR

#5335 Fix onion service version validation in securedrop-admin install
  admin/Dockerfile
  admin/bin/dev-shell
  admin/securedrop_admin/__init__.py
  admin/tests/test_integration.py
Labels: priority/high

#5339 Add update docs for 1.4.0->1.4.1 (boilerplate)
  docs/index.rst
  docs/upgrade/1.4.0_to_1.4.1.rst
Labels: docs

#5343 Clarify release roles, new package upload/signing workflow
  docs/development/release_management.rst
Labels: docs, small off-sprint PR

#5350 Update contribution guidelines
  docs/development/contributing.rst
Labels: docs, small off-sprint PR
